.animation {
    margin-top: 30px;
}

#girl {
    background: url(../images/woman.jpg);
    width: 364px;
    height: 628px;
}

/*pop up button*/
.button {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 2em 2em;
}

.popup-overlay {
    opacity: 0;
    display: block;
    visibility: hidden;
    position: fixed;
    text-align: center;
    top: 15%;
    right: 40%;
}

/*pop up size*/
.popup-overlay .popup-content {
    background-color: black;
    width: 364px;
    height: 628px;
    padding-top: 2em;
}

/*close button*/
.popup-content:before {
    content: '×';
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.popup-overlay:target {
    opacity: 1;
    visibility: visible;
}
