header, footer {
    height: 5vh;
}

footer {
    text-align: center;
    color: white;
}

footer span {
    padding-top: 12px;
    display: block;
}

header {
    padding-top: 4px;
}

.desktop-menu nav {
    float: right;
}

header #time-desktop, #time-mobile {
    padding-top: 6px;
    color: white;
}

.mobile-menu {
    display: none;
}

.page-body {
    height: 90vh;
    padding-top: 1rem;
}

.ln-profile {
    width: 100%;
    margin-top: 15px;
}

.ln-profile img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

@media(max-width: 575px) {
    .mobile-menu {
        display: block;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .desktop-menu {
        display: none;
    }

    .page-body {
        height: auto;
        padding-top: 2rem;
    }

    .animation {
        display: none;
    }
}










